<h1>Add a Contact:</h1>

<form action="/contact" method="post">
  <label for="first_name">First Name:</label>
  <input id="first_name" name="first_name" type="text">

  <label for="last_name">Last Name</label>
  <input id="last_name" name="last_name" type="text">

  <label for="job_title">Job:</label>
  <input id="job_title" name="job_title" type="text">

  <label for="company">Company:</label>
  <input id="company" name="company" type="text">

  <button type="submit">Add Contact</button>
</form>
