<h1>Add Email:</h1>
<form class="" action="index.html" method="post">

  <label for="email">Email address:</label>
  <input placeholder="email@address.com" id="email" name="company" type="text">

  <label for="type">Type:</label>
    <br>
    <select>
      <option>Home</option>
      <option>Work</option>
    </select>

    <button type="submit" name="button">Add Email</button>
</form>
