<form class="" action="index.html" method="post">

  <label for="address">Address:</label>
  <input placeholder="street" id="street" name="address" type="text">
  <input placeholder="city" id="city" name="address" type="text">
  <input placeholder="state" id="state" name="address" type="text">
  <input placeholder="zip" id="zip" name="address" type="number">
</form> 
